body {
    background-color: black;
}

.cover {
    height: 400px;
    background-image: url("../../imagenes/gamingCabecera.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
}

ul {
    list-style: none;
}

.container-nav {
    width: 90%;
    margin: auto;

}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-main ul {
    display: flex;

}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul.nav-menu {
    flex: 1;
    justify-content: center;
}

hr {
    color: white;
    margin-top: 1px;
}

.facilito {

    font-size: 80px;

}

h1 {
    font-family: 'Josefin Slab', serif;
}

.texto-titulo {
    font-family: 'Hurricane', cursive;
    font-size: 30px;
}

.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

.card-title {
    font-size: 20px;
    min-height: 2.5rem;
    font-family: 'Quicksand', sans-serif;
}

.card-text {
    min-height: 5rem;
    font-family: 'Quicksand', sans-serif;
}

.product-stripe {
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stripe-container {
    display: flex;

}

.stripe-container .card {
    width: 300px;
    flex-shrink: 0;
    margin-right: 2rem;
}

.responsive-iframe {
    position: relative;
    padding-top: 50%;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
}

.social {
    margin: 50px;

}

.social p {
    color: white;
    ;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}